.link {
    color: #1ca782d3;
    text-decoration: underline;
}
.fp {
    margin-top: 10px;
    margin-bottom: 10px;
    text-align: left;
    text-decoration: underline #1ca782d3;
    font-size: var(--font-size-medium);
    color: grey;
    text-align: center;
    /* background-color: #000; */
}