:root {
    --font-size: 16px;
    --font-size-medium: 14px;
    --text-color: black;
}

hr {
    width: 40%;
    display: inline-block;
    border: none;
    border-top: 1px solid #ccc;
    margin: 0;
    vertical-align: middle;
  }
.hr {
    margin-top: 10px;
    text-align: center;
}  
.space {
    padding-left: 4px;
    padding-right: 4px;
    font-size: var(--font-size-medium);
    color: var(--text-color);
}