@import "../../Theme.css";
.add-todo {
    padding: 15px;
    border: solid 3px #1ca782;
    overflow: hidden;
}
.add-button {
    padding: 5px;
    background-color: #1ca782;
    border-radius: 6px;
    color: white;
    font-weight: bold;
}
.right {
    float: right;
}
.add-symbol {
    font-size: 24px;
    color: #095c46;
    font-weight: 400;
}
.inline {
    display: inline;
}
.todo-input {
    border: none;
    border-bottom: 2px solid grey;
    outline: none;
    font-size: 16px;
    padding: 10px;
    background-color: var(--background-color);
}
.todo-input:active, .todo-input:hover, .todo-input:focus {
    border-bottom: 2px solid #1ca782;
}