@import "../../Theme.css";
.navbar {
    position: fixed;
    /* display: flex;
    align-items: center;
    justify-content: end; */
    background-color: var(--navbar-background);
    box-shadow: var(--box-shadow);
    height: 40px;
    width: 100%;
}
.button {
    padding: 10px;
    margin: auto 10px;
    display: inline;
    float: right;
    box-sizing: border-box;
}
.mode {
    padding: 5px 10px;
}
.hamburger {
    float: left;
    padding: 0;
}