.light-theme {
    --background-color: white;
    --text-color: black;
    --navbar-background:  #202123;
    --sidebar-background: #202123;
}
.dark-theme {
    --background-color: #202123;
    --text-color: white;
    --navbar-background: lightgrey;
    --sidebar-background: white;
}