.light-theme {
    --background-color: white;
    --text-color: black;
    --navbar-background:  #202123;
    --sidebar-background: #202123;
    --sidebar-links-color: lightgray;
    --box-shadow: 0px 4px 6px #20212385
}
.dark-theme {
    --background-color: #202123;
    --text-color: white;
    --navbar-background: lightgrey;
    --sidebar-background: lightgrey;
    --sidebar-links-color: #202123;
    --box-shadow: 0px 6px 6px rgba(211, 211, 211, 0.422);
}